.header-top {
  font-size: 12.5px;
  color: gray;
}
i {
  color: rgb(123, 199, 224);
}
.back {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/banner/banner_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#collapsibleNavbar li {
  padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link a:hover {
  color: white;
  font-weight: bold;
}

a:hover {
  border-bottom: solid 2px deepskyblue;
}
.round {
  border-radius: 50px;
  padding: 10px 30px;
}
.banner {
  background: transparent;
  padding: 90px 580px 20px 200px;
  color: white;
  padding-bottom: 165px;
  font-weight: 500;
}
h1 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
h6 {
  color: black;
}
.services {
  padding-top: 30px;
}
.consulting {
  background: transparent;
}
.content {
  margin-left: 13%;
  margin-right: 6%;
  margin-top: 70px;
}
.image {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 26px;
}
.statistics {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/about/counter.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  margin-bottom: 70px;
}
.stats {
  padding: 100px 100px 10px 70px;
  color: white;
}
.icon {
  color: rgb(45, 173, 216);
  size: 10%;
}
.cards {
  color: white;
  width: 200px;
}
.deck {
  padding-top: 100px;
}
.case {
  width: 300px;
  padding: 25px;
}
.extra-btn {
  border: solid 1px rgb(84, 172, 201);
  color: rgb(84, 172, 201);
}
.quote {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/banner/testmonial.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 125px;
}
.quotes-content {
  padding: 100px 400px 100px 400px;
}
.quote-free {
  margin-bottom: 100px;
}
.form-content {
  margin-left: 190px;
}
.get-free {
  margin-bottom: 100px;
}
.get-free-quote {
  margin-bottom: 50px;
}
.pic {
  width: 600px;
}
.contact {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../img/banner/info_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 100px;
}
.con-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.card-bottom {
  border: none;
}
.deck-bottom {
  margin: 0px, 25px, 50px, 25px;
}
/* .sub {
  border-radius: 200px;
  padding-left: 80px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.subs {
  border-radius: 200px;
  border: solid 1px;
  border-color: grey;
  padding-left: 5px;
  padding-right: 5px;
}
.sub-btn {
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-top {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 60px;
}
.color {
  color: grey;
  font-size: 15px;
}
.bottom-icons {
  color: grey;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid gray;
}
.footer-bottom-icons {
  color: gray;
}
