.header-top {
  font-size: 12.5px;
  color: gray;
}
i {
  color: rgb(123, 199, 224);
}
.back {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/banner/banner_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#collapsibleNavbar li {
  padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

a:hover {
  border-bottom: solid 2px deepskyblue;
}
.round {
  border-radius: 50px;
  padding: 10px 30px;
}
.banner {
  background: transparent;
  padding: 90px 580px 20px 200px;
  color: white;
  padding-bottom: 165px;
  font-weight: 500;
}
h1 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
h6 {
  color: black;
}
.services {
  padding-top: 30px;
}
.consulting {
  background: transparent;
}
.content {
  margin-left: 13%;
  margin-right: 6%;
  margin-top: 70px;
}
.image {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 26px;
}
.statistics {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/about/counter.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  margin-bottom: 70px;
}
.stats {
  padding: 100px 100px 10px 70px;
  color: white;
}
.icon {
  color: rgb(45, 173, 216);
  size: 10%;
}
.cards {
  color: white;
  width: 200px;
}
.deck {
  padding-top: 100px;
}
.case {
  width: 300px;
  padding: 25px;
}
.extra-btn {
  border: solid 1px rgb(84, 172, 201);
  color: rgb(84, 172, 201);
}
